@font-face {
    font-family: 'brixslab-regular-webfont';
    src: url('fonts/brixslab-regular-webfont.eot');
    src: url('fonts/brixslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brixslab-regular-webfont.woff') format('woff'),
         url('fonts/brixslab-regular-webfont.ttf') format('truetype'),
         url('fonts/brixslab-regular-webfont.svg#brixslab-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brixslab-medium-webfont';
    src: url('fonts/brixslab-medium-webfont.eot');
    src: url('fonts/brixslab-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brixslab-medium-webfont.woff') format('woff'),
         url('fonts/brixslab-medium-webfont.ttf') format('truetype'),
         url('fonts/brixslab-medium-webfont.svg#brixslab-medium-webfont') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'brixslab-bold-webfont';
    src: url('fonts/brixslab-bold-webfont.eot');
    src: url('fonts/brixslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brixslab-bold-webfont.woff') format('woff'),
         url('fonts/brixslab-bold-webfont.ttf') format('truetype'),
         url('fonts/brixslab-bold-webfont.svg#brixslab-bold-webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'vh2trial-webfont';
    src: url('fonts/vh2trial-webfont.eot');
    src: url('fonts/vh2trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vh2trial-webfont.woff') format('woff'),
         url('fonts/vh2trial-webfont.ttf') format('truetype'),
         url('fonts/vh2trial-webfont.svg#vh2trial-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
